/* Mặc định Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Css trang web */
h1 {
   font-family: Arial;
    text-align: center;
    color: rgb(253, 253, 253);
    background-color: rgb(41, 21, 21);
}

main {
    margin: 20px;
    font-family: Arial;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
}
img {
    width: 200px;
    height: 300px;
    margin-top: 20px;
}